<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>板書復習支援アプリ -アーカイブ-</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

    <!-- フォント -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Zen+Maru+Gothic:wght@300;400;500;700;900&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <h1 class="header-title">板書ログ</h1>
    </header>
    <nav class="nav-container">
        <ul class="nav-list">
            <li class="nav-item"><a href="/">このアプリについて</a></li>
            <li class="nav-item"><a href="/">ノートのアップロード</a></li>
            <li class="nav-item"><a href="/archive">アーカイブ</a></li>
        </ul>
    </nav><!-- /.nav-container-->

    <main>
        <h2 class="section-title"><span class="marker-yellow">科目・タグ一覧</span></h2>
        <nav class="menu-nav-container">
            <ul class="menu-nav-list">
                <li class="menu-nav-item"><a href="/"><- トップページに戻る</a></li>
            </ul>
        </nav>

        <ul>
            {% for tag in tags %}
                <li class="tag-name"><a href="/archive/{{ tag }}">{{ tag }}</a></li>
            {% else %}
                <li>まだ保存されたノートはありません。</li>
            {% endfor %}
        </ul>
    </main>
</body>
</html>