<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>板書復習支援アプリ</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

    <!-- フォント -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Zen+Maru+Gothic:wght@300;400;500;700;900&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <h1 class="header-title">板書ログ</h1>
    </header>
    <nav class="nav-container">
        <ul class="nav-list">
            <li class="nav-item"><a href="#AboutApp">このアプリについて</a></li>
            <li class="nav-item"><a href="#UploadNote">ノートのアップロード</a></li>
            <li class="nav-item"><a href="#Archive">アーカイブ</a></li>
        </ul>
    </nav><!-- /.nav-container-->

    <main>
        <section id="AboutApp">
            <h2 class="section-title"><span class="marker">このアプリについて</span></h2>
            <p class="section-description">このアプリは、板書を復習するためのアプリです。</p>
        </section><!-- /#AboutApp-->

        <section id="UploadNote">
            <h2 class="section-title"><span class="marker">アップロード</span></h2>
            <p class="section-description">ノートの要約と復習用問題を作ります。科目名・単元名を入力して、
                ノートの画像をアップロードしてください
            </p>
            <form action="/upload" method="post" enctype="multipart/form-data">
                <div class="subject">
                    <label for="tag" class="tag">科目名・タグ:</label>
                    <input type="text" id="tag" name="tag" placeholder="例：歴史, 公民" required>
                </div>
                <br>
                <div class="image-file">
                    <label for="image-upload" class="file-upload-button">ファイルを選択</label>
                    <input type="file" id="image-upload" name="image" required>
                    <span id="file-name">選択されていません</span>
                </div>
                <br>
        
                <button type="submit" class="action-button">このノートで要約・問題を作る</button>
            </form>
        </section><!-- /#UploadNote-->

        <section id="Archive">
            <h2 class="section-title"><span class="marker">アーカイブの閲覧</span></h2>
            <p class="section-description">
                これまでに作成した要約ノートを見ることができます。ノートの編集・削除・問題の再生成も可能です。
            </p>
            <a href="/archive" class="action-button">アーカイブ一覧</a>
        </section><!-- /#Archive-->
    </main>
    <footer>
        <p>© 2025 BanshoLog</p>
    </footer>

    <script>
        document.getElementById('image-upload').addEventListener('change', function() {
            var fileName = this.files[0] ? this.files[0].name : "選択されていません";
            document.getElementById('file-name').textContent = fileName;
        });
    </script>
</body>
</html>